# Environment files
.env
.env.*

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Local database and temp files
*.log
*.tmp
*.temp
uploads/receipts/

    # Url to trigger the webhook for the receipt upload
    https://defaultcb45bd5d0cab48bfb42b839fc45a9a.9b.environment.api.powerplatform.com:443/powerautomate/automations/direct/cu/20/workflows/33398e8e2836421b922faeff875d83f7/triggers/manual/paths/invoke?api-version=1
    https://defaultcb45bd5d0cab48bfb42b839fc45a9a.9b.environment.api.powerplatform.com:443/powerautomate/automations/direct/cu/20/workflows/33398e8e2836421b922faeff875d83f7/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=0i6V2nje1o-J_SvqfiTbFiV92gw2ShKmk9SYu2XaeH0

    $body = @{
    "Staff Name" = "Test Staff"
    "Location" = "Agbor"
    "Date Of Merchant's Visitation" = "08/19/2026"
    "Merchant's Name" = "Test Merchant"
    "Terminal ID" = "346586977"
    "Issue Observed" = "Test Issue"
    "Remark" = "Test submission"
} | ConvertTo-Json

Invoke-RestMethod `
    -Uri "https://defaultcb45bd5d0cab48bfb42b839fc45a9a.9b.environment.api.powerplatform.com:443/powerautomate/automations/direct/cu/20/workflows/33398e8e2836421b922faeff875d83f7/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=0i6V2nje1o-J_SvqfiTbFiV92gw2ShKmk9SYu2XaeH0" `
    -Method Post `
    -ContentType "application/json" `
    -Body $body  

    .\.venv\Scripts\python.exe -m uvicorn app.main:app --reload(to start )