# Environment files
.env
.env.*

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
y
# Local database and temp files
*.log
*.tmp
*.temp
uploads/receipts/

    # Url to trigger the webhook for the receipt upload
    
    $body = @{
    "Staff Name" = "Test Staff"
    "Location" = "Agbor"
    "Date Of Merchant's Visitation" = "08/19/2026"
    "Merchant's Name" = "Test Merchant"
    "Terminal ID" = "346586977"
    "Issue Observed" = "Test Issue"
    "Remark" = "Test submission"
} | ConvertTo-Json

Invoke-RestMethod `
    - -Method Post `
    -ContentType "application/json" `
    -Body $body  

    .\.venv\Scripts\python.exe -m uvicorn app.main:app --reload(to start )
